@import "./katex.css";
@import "./shiki.css";

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("/fonts/SpaceMono-Regular.woff2") format("woff2"),
    url("/fonts/SpaceMono-Regular.woff") format("woff"),
    url("/fonts/SpaceMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("/fonts/SpaceMono-Bold.woff2") format("woff2"),
    url("/fonts/SpaceMono-Bold.woff") format("woff"),
    url("/fonts/SpaceMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url("/fonts/SpaceMono-Italic.woff2") format("woff2"),
    url("/fonts/SpaceMono-Italic.woff") format("woff"),
    url("/fonts/SpaceMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url("/fonts/SpaceMono-BoldItalic.woff2") format("woff2"),
    url("/fonts/SpaceMono-BoldItalic.woff") format("woff"),
    url("/fonts/SpaceMono-BoldItalic.ttf") format("truetype");
}
:root {
  --font-family-header: monospace;
  --font-family-text: "Space Mono", monospace;
}

body {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.7rem;
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
    line-height: 2rem;
  }
}
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  /* Counter the line-height. */
  margin-top: -0.05rem;
}

blockquote {
  overflow: auto;
}
blockquote pre.shiki {
  margin-bottom: 0.5rem;
}
pre {
  border: 0;
  margin: 0;
}
pre code {
  font-size: 14px;
}

p > code {
  color: orangered;
  padding: 0.12em 0.25em;
  background: #f7f7f7;
  border: 1px solid #ededed;
  border-radius: 0.375rem;
  display: inline-block;
  line-height: 1.2;
  margin: 0;
}
p > code::before,
p > code::after {
  content: "`";
  display: inline;
  color: slategrey;
}

a {
  text-decoration: none;
  color: #0000ee;
}
a:visited {
  color: #551a8b;
}
a:active {
  color: #ee0000;
}

.math-display {
  margin: 1.5rem 0;
}
