@import "../node_modules/katex/dist/katex.min.css";

@import "./shiki.css";

body {
  font-family: monospace;
  font-size: 13px;
  line-height: 1.7rem;
}

pre {
  border: 0;
  margin: 0;
}
pre code {
  font-size: 13px;
}

code {
  color: orangered;
}
.code-container code {
  color: unset;
}
code::before,
code::after {
  content: "`";
  display: inline;
  color: slategrey;
}
.code-container code::before,
.code-container code::after {
  content: unset;
  display: unset;
  color: unset;
}

a {
  text-decoration: none;
  color: #0000ee;
}
a:visited {
  color: #551a8b;
}
a:active {
  color: #ee0000;
}

.math-display {
  margin: 1.5rem 0;
}
